Tiago Ribeiro de Souza <tiago.astro@gmail.com> Tiago Ribeiro <tiago.astro@gmail.com>
Tiago Ribeiro de Souza <tiago.astro@gmail.com> tribeiro <tiago.astro@gmail.com>
Tiago Ribeiro de Souza <tiago.astro@gmail.com> Tiago <tiago.astro@gmail.com>

Salvador Sergi Agati <agati@procele.com.br> salvador <agati@procele.com.br>

Nelson Saavedra <saavedra.nelson@gmail.com> Nelson imac <oso@oso.naircl.org>

William Schoenell <wschoenell@gmail.com> William Schoenell <wschoenell@carnegiescience.edu>
William Schoenell <wschoenell@gmail.com> William Schoenell <wschoenell@gmto.org>
