[loggers]
keys=root,uts,instruments,controllers

[handlers]
keys=err

[formatters]
keys=uts

[logger_root]
handlers=err
level=DEBUG

[logger_uts]
handlers=err
level=DEBUG
propagate=0
qualname=uts

[logger_instruments]
handlers=err
level=DEBUG
propagate=1
qualname=uts.instruments

[logger_controllers]
handlers=err
level=DEBUG
propagate=1
qualname=uts.controllers

[formatter_uts]
format=%(asctime)s %(levelname)s %(name)s %(module)s:%(lineno)d %(message)s
datefmt=%d %m %Y %H %M %S (%j)

[handler_novo]
class=FileHandler
formatter=uts
args=("/var/log/uts/uts.log", "a")

[handler_err]
class=StreamHandler
formatter=uts
args=(sys.stderr,)
