
chimera:
  host: 127.0.0.1
  port: 7666

site:
  name: MyObservatory
  latitude: "-25:20:30"
  longitude: "-48:10:20"
  altitude: 20
  flat_alt: 80
  flat_az : 10

telescope:
  name: fake
  type: FakeTelescope
  
camera:
  name: fake
  type: FakeCamera

  use_dss: True
  filters: "U B V R I"
  
focuser:
  name: fake
  type: FakeFocuser
    
dome:
  name: fake
  type: FakeDome

  mode: track
  telescope: /FakeTelescope/fake

controller:
  - type: Autofocus
    name: fake
    camera: /FakeCamera/fake
    filterwheel: /FakeFilterWheel/fake

  - type: ImageServer
    name: fake
    httpd: True
    autoload: False

