
telescope:
  name: fake
  type: FakeTelescope
  
camera:
  name: fake
  type: FakeCamera

  use_dss: True
  
filterwheel:
  name: fake
  type: FakeFilterWheel
  
focuser:
  name: fake
  type: FakeFocuser
    
dome:
  name: fake
  type: FakeDome

  mode: track
  telescope: /FakeTelescope/fake

controller:
  - type: Autofocus
    name: fake
    camera: /FakeCamera/fake
    telescope: /FakeTelescope/fake
    filterwheel: /FakeFilterWheel/fake

  - type: ImageServer
    name: fake
    httpd: True
    autoload: False

