
 telescope:
  name: fake
  driver:
   type: FakeTelescope
   name: faketelescopedriver
  
 camera:
  name: fake
  driver:
   type: FakeCamera
   name: fakecameradriver
  
 filterwheel:
  name: fake
  driver: 
   type: FakeFilterWheel
   name: fakewheeldriver
  
 focuser:
  name: fake
  driver:
   type: FakeFocuser
   name: fakefocuserdriver
    
 dome:
  name: fake
  driver:
   type: FakeDome
   name: fakedomedriver

 controller:
  type: Autofocus
  name: fakeautofocus
  camera: /Camera/fake
  telescope: /Telescope/fake
  filterwheel: /FilterWheel/fake